[submodule "lib/vendor/AWS-SDK"]
	path = lib/vendor/AWS-SDK
	url = git://github.com/amazonwebservices/aws-sdk-for-php.git
[submodule "lib/vendor/CronExpression"]
	path = lib/vendor/CronExpression
	url = git://github.com/mtdowling/cron-expression.git
[submodule "plugins/sfDoctrineRestGeneratorPlugin"]
	path = plugins/sfDoctrineRestGeneratorPlugin
	url = git://github.com/xavierlacot/sfDoctrineRestGeneratorPlugin.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/vjousse/symfony-1.4.git
[submodule "lib/vendor/plupload"]
	path = lib/vendor/plupload
	url = git://github.com/moxiecode/plupload.git
[submodule "lib/vendor/php-markdown"]
	path = lib/vendor/php-markdown
	url = git://github.com/wolfie/php-markdown.git
[submodule "lib/vendor/fancybox"]
	path = lib/vendor/fancybox
	url = git://github.com/fancyapps/fancyBox.git
