[submodule "lib/vendor/AWS-SDK"]
	path = lib/vendor/AWS-SDK
	url = git://github.com/amazonwebservices/aws-sdk-for-php.git
[submodule "lib/vendor/CronExpression"]
	path = lib/vendor/CronExpression
	url = git://github.com/mtdowling/cron-expression.git
[submodule "plugins/sfDoctrineRestGeneratorPlugin"]
	path = plugins/sfDoctrineRestGeneratorPlugin
	url = git://github.com/xavierlacot/sfDoctrineRestGeneratorPlugin.git
[submodule "plugins/sfPluploadPlugin"]
	path = plugins/sfPluploadPlugin
	url = git://github.com/kevindew/sfPluploadPlugin.git
