<phpunit
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnFailure="true">
  
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>test/phpunit/unit/model/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <blacklist>
      <directory>apps</directory>
      <directory>cache/</directory>
      <directory>config/</directory>
      <directory>plugins/</directory>
      <directory>lib/</directory>
      <directory>lib/model/doctrine/base/</directory>
      <directory>lib/model/doctrine/sfDoctrineGuardPlugin/base/</directory>
      <exclude>
        <directory>lib/model/doctrine/sfDoctrineGuardPlugin/</directory>
        <directory>lib/model/doctrine/</directory>
      </exclude>
      <directory>lib/vendor/Cron/</directory>
    </blacklist>
  </filter>

  <logging>
    <log type="coverage-html" target="build/coverage" charset="UTF-8"
        yui="true" highlight="true" lowUpperBound="90" highLowerBound="100"/>
    <log type="coverage-clover" target=".build/test-coverage.xml"/>
  </logging>
</phpunit>