# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

all:
# Remember to change the api key before using the app in production! Keep it
# secret, keep it safe!
  web_app_api:
    key: 75d32b53a0ccf8b92d7513c548351261d8d5cafe
    # 2 hours before regular login is revoked
    auth_key_login_expiration: 7200 
    # 2 weeks before a "Remember Me" login is revoked
    auth_key_remember_me_expiration: 1209600
  # The following hashes help prevent others from guessing future file hashes.  Change them before deploying.
  web_app_image_hash_salt:    b00ee53725416c87d7a84df7cfc28dac853b4283
  web_app_audio_hash_salt:    3afb1b9abd1a8638e0dc0b376b63a394832cdaeb
  web_app_feed_default:
    subreddits:               [ programming ]