<?php

require_once dirname(__FILE__).'/../lib/vendor/symfony/lib/autoload/sfCoreAutoload.class.php';
sfCoreAutoload::register();

class ProjectConfiguration extends sfProjectConfiguration
{

    static protected $cronLoaded = false;
    static protected $awsLoaded = false;
    static protected $zendLoaded = false;
    static protected $markdownLoaded = false;

    public function setup()
    {
        $this->enablePlugins(array(
            'sfDoctrinePlugin',
            'sfDoctrineGuardPlugin',
            'sfAdminThemejRollerPlugin',
            'sfWidgetFormInputSWFUploadPlugin',
            'sfJqueryFormValidationPlugin',
            'sfPHPUnit2Plugin',
            'sfDoctrineRestGeneratorPlugin',
            'sfReCaptchaPlugin',
            'sfHtml5FormPlugin',
        ));
    }

    static public function registerCron()
    {
        if (self::$cronLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/FieldInterface.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/AbstractField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/CronExpression.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/DayOfMonthField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/DayOfWeekField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/FieldFactory.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/HoursField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/MinutesField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/MonthField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/YearField.php';

        self::$cronLoaded = true;
    }

    static public function registerAws()
    {
        if (self::$awsLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/AWS-SDK/sdk.class.php';

        self::$awsLoaded = true;
    }

    static public function registerZend()
    {
        if (self::$zendLoaded) {
            return;
        }

        set_include_path(sfConfig::get('sf_lib_dir') . '/vendor' . PATH_SEPARATOR . get_include_path());
        @require_once sfConfig::get('sf_lib_dir') . '/vendor/Zend/Loader/Autoloader.php';
        Zend_Loader_Autoloader::getInstance();
        self::$zendLoaded = true;
    }
    
    static public function registerMarkdown()
    {
        if (self::$markdownLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/php-markdown/markdown.php';

        self::$markdownLoaded = true;
    }

    static public function getApplicationName()
    {
        return 'Herddit';
    }
    
    static public function getApplicationEmailAddress()
    {
        return 'webmaster@herddit.com';
    }

    static public function getDefaultSubredditAddress()
    {
        return 'http://www.reddit.com/r/secretsanta';
    }

    static public function getFrontendAppLocation()
    {
        return 'http://openmicnight/';
    }

    static public function getAmazonBucketPrefix()
    {
        return 'herddit-';
    }

    static public function getEpisodeAudioFileLocalDirectory()
    {
        return sfConfig::get('sf_data_dir') . '/temp/';
    }

    static public function getEpisodeGraphicFileLocalDirectory()
    {
        return sfConfig::get('sf_web_dir') . '/uploads/graphics/';
    }

}
