<?php

require_once dirname(__FILE__) . '/../lib/vendor/symfony/lib/autoload/sfCoreAutoload.class.php';
sfCoreAutoload::register();

class ProjectConfiguration extends sfProjectConfiguration
{

    static protected $cronLoaded = false;
    static protected $awsLoaded = false;
    static protected $zendLoaded = false;
    static protected $markdownLoaded = false;
    static protected $tropoLoaded = false;

    public function setup()
    {
        $this->enablePlugins(array(
            'sfDoctrinePlugin',
            'sfDoctrineGuardPlugin',
            'sfDoctrineRestGeneratorPlugin',
            'sfFormExtraPlugin',
            'sfHtml5FormPlugin',
            'sfPHPUnit2Plugin',
            'sfReCaptchaPlugin',
            'sfThemeGeneratorPlugin',
            'sfHadoriThemePlugin',
        ));
    }

    static public function registerCron()
    {
        if (self::$cronLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/FieldInterface.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/AbstractField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/CronExpression.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/DayOfMonthField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/DayOfWeekField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/FieldFactory.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/HoursField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/MinutesField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/MonthField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/CronExpression/src/Cron/YearField.php';

        self::$cronLoaded = true;
    }

    static public function registerAws()
    {
        if (self::$awsLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/AWS-SDK/sdk.class.php';

        self::$awsLoaded = true;
    }

    static public function registerZend()
    {
        if (self::$zendLoaded) {
            return;
        }

        set_include_path(sfConfig::get('sf_lib_dir') . '/vendor' . PATH_SEPARATOR . get_include_path());
        @require_once sfConfig::get('sf_lib_dir') . '/vendor/Zend/Loader/Autoloader.php';
        Zend_Loader_Autoloader::getInstance();
        self::$zendLoaded = true;
    }

    static public function registerMarkdown()
    {
        if (self::$markdownLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/php-markdown/markdown.php';

        self::$markdownLoaded = true;
    }

    static public function registerTropo()
    {
        if (self::$tropoLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/tropo/tropo.class.php';

        self::$tropoLoaded = true;
    }

    static public function getApplicationName()
    {
        return 'Herddit';
    }

    static public function getApplicationSubname()
    {
        return 'alpha';
    }

    static public function getApplicationEmailAddress()
    {
        return 'webmaster@herddit.com';
    }

    static public function getDefaultSubredditAddress()
    {
        return 'http://www.reddit.com/r/secretsanta';
    }

    static public function getFrontendAppLocation()
    {
        return 'http://openmicnight/';
    }

    static public function getAmazonBucketPrefix()
    {
        return 'herddit-';
    }

    /* Ignores the prefix set above. */
    /* You will have to set this one up manually. */
    static public function getApplicationAmazonBucketName()
    {
        return 'herdditmainstuff';
    }

    /* You will have to set this one up manually. */
    static public function getApplicationAmazonCloudFrontUrl()
    {
        return 'https://d1v6agip99w3iq.cloudfront.net/';
    }

    /* You will have to set this one up manually. */
    static public function getApplicationAmazonBucketUrl()
    {
        return 'https://s3.amazonaws.com/herdditmainstuff/';
    }

    static public function getEpisodeAudioFileLocalDirectory()
    {
        return sfConfig::get('sf_data_dir') . '/temp/';
    }

    static public function getEpisodeGraphicFileLocalDirectory()
    {
        return sfConfig::get('sf_web_dir') . '/uploads/graphics/';
    }

    /* Please note that this must be less than 10 on a 32-bit system, and less
     * than 18 on a 64-bit system! */
    static public function getTropoHashLength()
    {
        return 10;
    }

    static public function getSMTPServer()
    {
        return 'email-smtp.us-east-1.amazonaws.com:465';
    }
    
    static public function getSMTPUseTLS()
    {
        return true;
    }

    static public function getSMTPUser()
    {
        return'AKIAJWH7ZH22N4U2HKMA';
    }

    static public function getSMTPPassword()
    {
        return 'Al4CAGhNv0+Ekv+XdWtAcKhZP/7yBdwQOM1yzvL8lvG4';
    }

}
