<?php

require_once '/opt/symfony/symfony14/lib/autoload/sfCoreAutoload.class.php';
sfCoreAutoload::register();

class ProjectConfiguration extends sfProjectConfiguration
{

    static protected $cronLoaded = false;

    static public function registerCron()
    {
        if (self::$cronLoaded) {
            return;
        }

        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/FieldInterface.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/AbstractField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/CronExpression.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/DayOfMonthField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/DayOfWeekField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/FieldFactory.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/HoursField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/MinutesField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/MonthField.php';
        require_once sfConfig::get('sf_lib_dir') . '/vendor/' . 'Cron/YearField.php';

        self::$cronLoaded = true;
    }

    public function setup()
    {
        $this->enablePlugins(array(
            'sfDoctrinePlugin',
            'sfDoctrineGuardPlugin',
            'sfAdminThemejRollerPlugin',
            'sfWidgetFormInputSWFUploadPlugin',
            'sfJqueryFormValidationPlugin',
            'sfPHPUnit2Plugin',
        ));
        //self::registerCron();
    }

}
